<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CicleroSM</title>
    <!--CSS-->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/style.css">
    <!--JS-->
    <script src="../js/conteo.js"></script>
</head>
<body class="vh-100"> 
    <!--HEADER-->
    <header class="sticky-top">
        <nav class="navbar navbar-expand bg-sm d-flex justify-content-end">
            <!--NAV 1-->
            <ul class="navbar-nav me-2 nav1">
                <li class="nav-item">
                    <a href="./prospecto.html" class="nav-link">Prospecto</a>
                </li>
                <li class="nav-item">
                    <a href="./foro.html" class="nav-link">Foro</a>
                </li>
                <li class="nav-item">
                    <a href="./complementario.html" class="nav-link">Material Complementario</a>
                </li>
                <li class="nav-item">
                    <a href="./gruia.html" class="nav-link">Gu&iacute;a</a>
                </li>
            </ul>
        </nav>
        <nav class="navbar navbar-expand-md bg-light">
            <div class="container-fluid">
                <!--BRAND-->
                <a class="navbar-brand" href="#">
                    <img src="../img/logo.jpg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
                    ALT Academy
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!--NAV 2-->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="../index.html">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./teoria.html">Teor&iacute;a</a>
                        </li>                        
                        <li class="nav-item">
                            <a class="nav-link" href="./preguntas.html">Preguntas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./simulacros.html">Simulacros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./solucionarios.html">Solucionarios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="./conteo.html">Conteo</a>
                        </li>                        
                    </ul>                    
                </div>
            </div>
        </nav>        
    </header>
    <section>
        <div class="row fs-5 rounded conteo">
            <div class="col-sm-4 conteo-btn">
                <button class="btn btn-success fs-5" id="btn-good">Buena</button>
                <button class="btn btn-danger fs-5" id="btn-bad">Mala</button>
                <button class="btn btn-warning fs-5" id="btn-back">Borrar</button>
            </div>
            <div class="col-sm-8 conteo-data">
                <p>Puntaje: <span id="ptj">0</span></p>
                <p>Buenas: <span id="good">0</span></p>
                <p>Malas: <span id="bad">0</span></p>
                <p>Total: <span id="total">0</span></p>
            </div>
        </div>
    </section>
</body>
<script src="../js/bootstrap.bundle.min.js"></script>
</html>