<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CicleroSM</title>
    <!--CSS-->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <!--JS-->
    <script src="../js/conteo.js"></script>
</head>
<body class="vh-100"> 
    <!--HEADER-->
    <header>
        <nav class="navbar navbar-expand bg-sm d-flex justify-content-end">            
            <!--NAV 1-->
            <ul class="navbar-nav me-2 nav1">
                <li class="nav-item">
                    <a href="./prospecto.html" class="nav-link">Prospecto</a>
                </li>
                <li class="nav-item">
                    <a href="./foro.html" class="nav-link">Foro</a>
                </li>
                <li class="nav-item">
                    <a href="./complementario.html" class="nav-link">Material Complementario</a>
                </li>
                <li class="nav-item">
                    <a href="./gruia.html" class="nav-link">Gu&iacute;a</a>
                </li>
            </ul>
        </nav>
        <nav class="navbar navbar-expand-md bg-light">
            <div class="container-fluid">
                <!--BRAND-->
                <a class="navbar-brand" href="#">
                    <img src="../img/logo.jpg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
                    ALT Academy
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!--NAV 2-->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="../index.html">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./teoria.html">Teor&iacute;a</a>
                        </li>                        
                        <li class="nav-item">
                            <a class="nav-link" href="./preguntas.html">Preguntas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./simulacros.html">Simulacros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./solucionarios.html">Solucionarios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="./conteo.html">Conteo</a>
                        </li>                        
                    </ul>                    
                </div>
            </div>
        </nav>        
    </header>
    <section">
        <div class="container-fluid mt-1">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-4 py-3">
                    <div class="btn-box">
                        <button id="btn-good" class="btn btn-success btn-point">Buena</button>
                        <button id="btn-bad" class="btn btn-danger btn-point">Mala</button>
                        <button id="btn-blank" class="btn btn-light btn-point">Blanco</button>
                        <button id="btn-back" class="btn btn-warning btn-point">Borrar</button>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 py-3">
                    <div class="fs-2 point-box h-100">
                        <table class="w-75">
                            <tr><td>Puntaje:</td><td id="ptj">0</td></tr>
                            <tr><td>Buenas:</td><td id="good">0</td></tr>
                            <tr><td>Malas:</td><td id="bad">0</td></tr>
                            <tr><td>Blanco:</td><td id="blank">0</td></tr>
                            <tr><td>Total:</td><td id="total">0</td></tr>
                        </table>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-4 py-3">
                    <h2 class="text-center">Historial</h2>
                    <div class="history">
                        <ul class="hist-ul" id="ul1">                                                                                    
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
<script src="../js/bootstrap.bundle.min.js"></script>
</html>