<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teoria</title>
    <!--CSS-->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand bg-sm d-flex justify-content-end">            
            <!--NAV 1-->
            <ul class="navbar-nav me-2 nav1">
                <li class="nav-item">
                    <a href="./prospecto.html" class="nav-link">Prospecto</a>
                </li>
                <li class="nav-item">
                    <a href="./foro.html" class="nav-link">Foro</a>
                </li>
                <li class="nav-item">
                    <a href="./complementario.html" class="nav-link">Material Complementario</a>
                </li>
                <li class="nav-item">
                    <a href="./gruia.html" class="nav-link">Gu&iacute;a</a>
                </li>
            </ul>
        </nav>
        <nav class="navbar navbar-expand-md bg-light">
            <div class="container-fluid">
                <!--BRAND-->
                <a class="navbar-brand" href="#">
                    <img src="../img/logo.jpg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
                    ALT Academy
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!--NAV 2-->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="../index.html">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="./teoria.html">Teor&iacute;a</a>
                        </li>                        
                        <li class="nav-item">
                            <a class="nav-link" href="./preguntas.html">Preguntas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./simulacros.html">Simulacros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./solucionarios.html">Solucionarios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./conteo.html">Conteo</a>
                        </li>                        
                    </ul>                    
                </div>
            </div>
        </nav>        
    </header>
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <div class="list-group">
                        <button type="button" class="list-group-item list-group-item-action active" aria-current="true">
                            Razonamiento Verbal
                        </button>
                        <button type="button" class="list-group-item list-group-item-action">Razonamiento Matematico</button>
                        <button type="button" class="list-group-item list-group-item-action">Aritmetica</button>
                        <button type="button" class="list-group-item list-group-item-action">Geometria</button>
                        <button type="button" class="list-group-item list-group-item-action">Algebra</button>
                        <button type="button" class="list-group-item list-group-item-action">Trigonometria</button>
                        <button type="button" class="list-group-item list-group-item-action">Lenguaje</button>
                        <button type="button" class="list-group-item list-group-item-action">Literatura</button>
                        <button type="button" class="list-group-item list-group-item-action">Psicologia</button>
                        <button type="button" class="list-group-item list-group-item-action">Educaci&oacute;n C&iacute;vica</button>
                        <button type="button" class="list-group-item list-group-item-action">Historia Universal</button>
                        <button type="button" class="list-group-item list-group-item-action">Historia del Per&uacute;</button>
                        <button type="button" class="list-group-item list-group-item-action">Geografia</button>
                        <button type="button" class="list-group-item list-group-item-action">Economia</button>
                        <button type="button" class="list-group-item list-group-item-action">Filosofia</button>
                        <button type="button" class="list-group-item list-group-item-action">F&iacute;sica</button>
                        <button type="button" class="list-group-item list-group-item-action">Qu&iacute;mica</button>
                        <button type="button" class="list-group-item list-group-item-action">Biolog&iacute;a</button>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="container border rounded p-3">
                        <div class="row rv-div">
                            <div class="col-md-4 my-2">
                                <div class="card">
                                    <img src="../img/conteo.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                      <h5 class="card-title">Semana 1</h5>
                                      <p class="card-text">Semantica, Tecnicas de lectura, Lexico</p>
                                      <a href="#" class="btn btn-primary">Click aqu&iacute;</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 my-2">
                                <div class="card">
                                    <img src="../img/conteo.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                      <h5 class="card-title">Semana 2</h5>
                                      <p class="card-text">Semantica, Tecnicas de lectura, Lexico</p>
                                      <a href="#" class="btn btn-primary">Click aqu&iacute;</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 my-2">
                                <div class="card">
                                    <img src="../img/conteo.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                      <h5 class="card-title">Semana 3</h5>
                                      <p class="card-text">Semantica, Tecnicas de lectura, Lexico</p>
                                      <a href="#" class="btn btn-primary">Click aqu&iacute;</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 my-2">
                                <div class="card">
                                    <img src="../img/conteo.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                      <h5 class="card-title">Semana 4</h5>
                                      <p class="card-text">Semantica, Tecnicas de lectura, Lexico</p>
                                      <a href="#" class="btn btn-primary">Click aqu&iacute;</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 my-2">
                                <div class="card">
                                    <img src="../img/conteo.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                      <h5 class="card-title">Semana 5</h5>
                                      <p class="card-text">Semantica, Tecnicas de lectura, Lexico</p>
                                      <a href="#" class="btn btn-primary">Click aqu&iacute;</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 my-2">
                                <div class="card">
                                    <img src="../img/conteo.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                      <h5 class="card-title">Semana 6</h5>
                                      <p class="card-text">Semantica, Tecnicas de lectura, Lexico</p>
                                      <a href="#" class="btn btn-primary">Click aqu&iacute;</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
<script src="../js/bootstrap.bundle.min.js"></script>
</html>